.admin-dashboard {
  width: 60%;
  margin: 50px auto;
  border-collapse: collapse;
  margin: 30px auto;
  text-align: center;
}
.admin-dashboard table {
  margin: auto; /* Center the table within the admin dashboard */
}
.admin-dashboard th,
.admin-dashboard td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.admin-dashboard th {
  background-color: #4caf50;
  color: white;
}

.admin-dashboard tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-dashboard tr:hover {
  background-color: #ddd;
}

.admin-dashboard td {
  font-size: 18px;
}

.admin-dashboard h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
