@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Helvetica Neue', sans-serif; */
    font-family: 'Arial', sans-serif;
}


/************************************************/
/* ------------ navbar start ------------------ */

nav {
    background-color: #3635ce; 
    color: #fff;
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-outerbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
    /* font-family: serif; */
}

.navbar-outerbox a{
    font-family: 'Helvetica Neue', sans-serif;
}

.logo-box img {
    max-height: 40px;
}

.menu-and-userimage-box{
    display: flex;
    column-gap: 70px;
    align-items: center;
}

.navbar-menu-names {
    list-style: none;
    display: flex;
    column-gap: 50px;
    font-size: 14px;
    font-weight: 400;
    
}


.navbar-menu-names a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    position: relative;   
}
.navbar-menu-names a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffcc00;
    transition: width 0.3s ease;
}
.navbar-menu-names a:hover::before {
    width: 100%;
}
.navbar-menu-names a:hover,
.dropdown-content a:hover {
    color: #ffcc00;
}

.userimage {
    position: relative;
    cursor: pointer;
}
.userimage:hover .dropdown-content {
    display: block;
}
.userimage img {
    border-radius: 50%;
    max-width: 40px;
    transition: border 0.3s ease;
}
.userimage:hover img {
    border: 2px solid #ffcc00; /* Change the color to your desired hover color */
    animation: pulsate 1s infinite alternate; /* Pulsating animation */
    background: #ffcc00;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3635ce;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%); /* Adjust for centering */
    z-index: 1;
}
.dropdown-content a {
    color: #fff;
    /* font-family: serif; */
    text-decoration: none;
    font-size: 13px;
    padding: 12px 16px;
    display: block;
    padding: 8px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.dropdown-content a:hover {
    background-color: #555;
}

.username {
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    font-family: serif;
    margin-bottom: 10px;
}


/* ------------ navbar End ------------------ */
/************************************************/


.side-menubar-and-main{
    display: flex;
    height: 650px;
}
/************************************************/
/* ------------ side-menubar Stat ------------------ */

.side-menubar{
    /* border: solid; */
    width: 300px;
    
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding-top: 35px;
    padding-left: 30px;
    background: rgb(228, 228, 228);
}
.side-menubar-section{

}
.side-menubar h3{
    margin-bottom: 8px;
    padding-left: 10px;
    /* border: solid; */
}
.side-menubar-items{
    padding-left: 25px;
    /* margin-left: 10px; */
    width: 100%;
    height: 45px;
    font-size: 17px;
    /* font-family: serif; */
    color: black;
    /* border-top-left-radius: 15px; */
    /* border-bottom-left-radius: 15px; */
    display: flex;
    align-items: center;
    /* border: solid; */
}
.side-menubar-items:hover{
    background: white;
}

.side-menubar a{
    text-decoration: none;   
}

/* ------------ side-menubar End ------------------ */
/************************************************/





/************************************************/
/* ------------ table style start ------------------ */
main{
    /* border: solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
}
main h2{
    /* border: solid; */
    margin-top: 15px;
    width: 95%;
}
table {
    /* border: solid; */
    width: 95%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
/* ------------ table style End ------------------ */
/************************************************/