body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Robo;
  background-color: #f0f0f0;
}

header {
  background-color: #88bdbc;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.title-container h1 {
  margin: 0;
}

.profile-icon-container img {
  max-width: 40px;
  height: auto;
}

nav {
  background-color: #254e58;
  padding: 15px 0;
  text-align: center;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  transition: color 0.2s ease, text-decoration 0.2s ease;
  transition-delay: 0.1s;
  padding: 15px;
}

nav a:hover {
  color: #6e6658;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  margin-top: auto;
  background-color: #112d32;
  color: #ffffff;
  text-align: center;
  padding: 5px;
}
.footer-icons-container {
  text-align: center;
}

.footer-icons-container .icon {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  margin: 0 5px; /* Adjust margin as needed */
  color: white; /* Set icon color to white */
}

/* Move icons to the bottom */
.footer-icons-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* Hover effect */
.footer-icons-container .icon:hover {
  opacity: 0.7; /* For example, reduce opacity */
}
