* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: url('../resources/images/background-images/phone-background-images/104785.jpg') no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-image-box{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(80, 86, 255);
    opacity: 0.8;
    z-index: -10;
    /* border: solid red; */
}
.outerbox{
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.433);
    display: flex;
}
.rightbox{
    width: 60%;
    height: 100%;
    background: url('../resources/images/background-images/phone-background-images/forum-image-3.png');
    background-size: cover;
    background-position: bottom;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.leftbox{
    width: 40%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftbox h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.797);
    text-align: center;
    margin-top: 2px;
}
.leftbox h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.797);
    text-align: center;
    margin-top: 2px;
    margin-bottom: 20px;
}
.leftbox img{
    width: 100px;
    background-color: #4646d2;
    border-radius: 50%;
}
.leftbox form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 15px 0;
}
#username, #password{
    width: 70%;
    height: 100%;
    padding: 11px 15px;
    background: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.271);
    border-radius: 3px;
    font-size: 20px;
    margin-bottom: 15px;
}
#username::placeholder, #password::placeholder{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.555);
}
#forgot-password{
    position: relative;
    top: -13px;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-align: start;
    color: black;
}
.log-register-box{
    width: 70%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#login{
    width: 100%;
    padding: 10px 40px;
    background-color: #4646d2;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
#login:hover{
    opacity: 0.8;
}
.log-register-box h4{
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
#register-link{
    text-decoration: none;
}
#forgot-password:hover, #register-link:hover{
    text-decoration: underline;
}