@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: 'Helvetica Neue', sans-serif; */
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero{
    font-family: 'Helvetica Neue', sans-serif;
    padding: 0 200px 0 200px;
    background: #3635CE;
    height: 80vh;
    width: 100%;
    color: white;
}
.hero .logo{
    margin-top: 30px;
    /* border: solid; */
}
nav{
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    height: 10vh;
    /* border: solid; */
    align-items: center;
    /* margin-top: 10px; */
}
.nav-menu{
    font-size: 14px;
    /* border: solid; */
}
.nav-menu a{
    text-decoration: none;
    margin-right: 10px;
    color: white;
}
.nav-menu button{
    background: transparent;
    border-radius: 20px;
    border: 2px solid white;
    padding: 5px 15px;
    margin-left: 10px;
    color: white;
}
.hero-align-box{
    /* border: solid red; */
    padding: 5px;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* padding-top: 10vh; */
    /* border: solid; */
}
.hero-content h1{
    /* color: black; */
    /* font-family: 'Helvetica Neue 500', sans-serif; */
    font-family:  sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.hero-content p{
    /* color: black; */
    font-family:  sans-serif;
    /* font-weight: 0; */
    margin-top: 10px;
}
.search-sec{
    margin-top: 35px;
}
/* .search-sec i{
    color: black;
} */
.icon-search{
    color: green;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
#search-bar{
    width: 450px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 400;
}
#search-bar::placeholder{
    color: grey;
}
#search-button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #0E0D75;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.keywords-sec{
    margin-top: 20px;
    font-size: 12px;
    width: 100%;
    /* border: solid red; */
}
.keywords-sec span{
    margin-right: 10px;
}
.keywords-sec button{
    font-size: 10px;
    /* font-weight: 600; */
    border: none;
    /* margin-right: 3px; */
    border-radius: 10px;
    padding: 2px 10px;
    background: #5353d4 ;
    color: white;
}
.keywords-sec button:hover{
    /* border: solid; */
    transform: scale(1.1);
    /* transform: translateY(-5px); */
    transition: 0.3s;
    /* font-weight: 600; */
    /* margin-right: 2px;
    margin-left: 2px; */
}


/********************* ------------overlap section--------- ***********************/
/********************* ------------------------------------ ***********************/
.overlap-section{
    /* border: solid; */
    position: absolute;
    top: 75vh;
}
.name-boxes{
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-template-areas: 
        "a b c"
        "d e f"
        "g h i"
        "j j j"
    ;
    background: rgb(233, 233, 233);
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgb(223, 223, 223);
}

.name-boxes span{
    display: flex;
    align-items: center;
    width: 320px;
    height: 95px;
}
.single-namebox-icon{
    width: 30%;
    display: flex;
    justify-content: end;
    padding-right: 15px;
}
.single-namebox-text{
    width: 70%;
}


.namebox-text-main{
    width: fit-content;
    height: fit-content;
    font-family:  sans-serif;
    font-size: 13px;
    font-weight: 550;
    margin-bottom: 8px;
}
.namebox-text-sub{
    margin: 0;
    font-family:  sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: grey;
}
[class^="nameboxing"] {
    background: white;
}




/* --------------show More bar------------------ */
.show-more{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 51px;
}
.show-more button{
    background: none;
    border: none;
    font-family: sans-serif;
    color: rgb(0, 0, 212);
    font-size: 13.5px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.fa-circle-chevron-down{
    font-size: 13.5px;
    color: rgb(0, 0, 212);
    margin-right: 4px;
    
}
.show-more button:hover{
    opacity: 0.8;
}
/* --------------show More bar End------------------ */




/* ---------------icons----------------- */
.bx-data{
    color: blue;
    font-size: 25px;
}
.bx-envelope{
    color: orange;
    font-size: 25px;
}
.fa-folder{
    color: rgb(95, 178, 0);
    font-size: 21px;
}
.bx-cog{
    color: red;
    font-size: 25px;
}

.fa-screwdriver-wrench{
    color: purple;
    font-size: 21px;
}
.bx-file{
    color: rgb(255, 135, 155);
    font-size: 25px;
}
.bx-cloud-lightning{
    color: rgb(31, 191, 254);
    font-size: 26px;
}
.bx-file-find{
    color: rgb(0, 205, 0);
    font-size: 27px;
}
.bx-chat{
    color: rgb(228, 148, 0);
    font-size: 25px;
}



/* ----------icon-background----------------- */
.nameboxing-1 i{
    width: 40px;
    height: 40px;
    background: rgba(60, 0, 255, 0.096);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameboxing-2 i{
    width: 40px;
    height: 40px;
    background: rgba(255, 172, 19, 0.116);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameboxing-3 i{
    width: 40px;
    height: 40px;
    background: rgba(95, 255, 95, 0.195);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameboxing-4 i{
    width: 40px;
    height: 40px;
    background: rgba(255, 68, 68, 0.103);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameboxing-5 i{
    width: 40px;
    height: 40px;
    background: rgba(128, 0, 128, 0.073);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameboxing-6 i{
    width: 40px;
    height: 40px;
    background: rgba(255, 135, 155, 0.097);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameboxing-7 i{
    width: 40px;
    height: 40px;
    background: rgba(31, 191, 254, 0.107);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameboxing-8 i{
    width: 40px;
    height: 40px;
    background: rgba(0, 205, 0, 0.101);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameboxing-9 i{
    width: 40px;
    height: 40px;
    background: rgba(228, 148, 0, 0.097);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------------icons & icons background End--------------------- */



/* --------------------grid Area namings-------------------- */
.nameboxing-1{
    grid-area: a;
    border-top-left-radius: 8px;
}

.nameboxing-2{
    grid-area: b;
}
.nameboxing-3{
    grid-area: c;
    border-top-right-radius: 8px;
}
.nameboxing-4{
    grid-area: d;
}
.nameboxing-5{
    grid-area: e;
}
.nameboxing-6{
    grid-area: f;
}
.nameboxing-7{
    grid-area: g;
}
.nameboxing-8{
    grid-area: h;
}
.nameboxing-9{
    grid-area: i;
}
.nameboxing-10{
    grid-area: j;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/* --------------------grid Area namings End-------------------- */


/********************* ------------overlap section End--------- ***********************/
/********************* ------------------------------------ ***********************/



/********************--------------section 3-----------------******************/
/********************---------------------------------------******************/
.section-3{
    padding: 0 200px 0 200px;
    width: 100%;
    margin-top: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

/* ----------------sec3 Heading--------------- */
.sec3-heading{
}

.sec3-heading-topic{
    text-align: center;
    font-size: 30px;
    letter-spacing: -0.5px;
    font-weight: 600;
    color: rgb(12, 12, 89);
}
.sec3-heading-para{
    margin-top: 15px;
    text-align: center;
    font-size: 17px;
    color: rgb(136, 136, 136);
}


/* -----------------sec3 Boxes------------------ */
.sec3-boxes{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.sec3-boxes-single{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 310px;
    border-radius: 20px;
    padding: 40px 25px 25px 30px;
    box-shadow: 1px 1px 10px rgb(223, 223, 223);
}
.sec3-boxes-icon{
}
.sec3-boxes-title{
    margin-top: 28px;
    font-size: 17px;
    font-weight: 600;
}
.sec3-boxes-points{
    margin-top: 8px;
    font-size: 13px;
    line-height: 24px;
}
.sec3-boxes-points span{
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 0, 206);
}

/* -----------------sce3 Boxes Icons---------------- */
.box1 i{
    color: rgb(17, 183, 111);
    font-size: 30px;
}
.box2 i{
    color: purple;
    font-size: 30px;
}
.box3 i{
    color: rgba(252, 180, 48, 0.757);
    font-size: 30px;
}
.box4 i{
    color: rgb(0, 175, 210);
    font-size: 30px;
}



/* -----------------sec3 Lower------------------ */
.sec3-lower-para{
    margin-top: 60px;
}
.sec3-lower-para a{
    text-decoration: none;
    color: #6464f0;
    font-size: 14px;
    font-weight: 550;
}
.sec3-lower-para a:hover{
    color: #0000ff;
    /* font-size: 15px; */
    /* font-weight: 600; */
}


/********************-------------------------------------------******************/
/********************--------------section3 End-----------------******************/





/********************---------------------------------------------*****************/
/********************--------------section 5 start----------------*****************/

.section-5{
    margin: 150px 0 20px 0;
    width: 100%;
    padding: 0 200px 0 200px;
    font-family: sans-serif;
}
.section5-box{
}
.sec5-heading{
}

.sec5-heading-topic{
    text-align: center;
    font-size: 30px;
    letter-spacing: -0.5px;
    font-weight: 600;
    color: rgb(12, 12, 89);
}
.sec5-heading-para{
    font-family: sans-serif;
    margin-top: 15px;
    text-align: center;
    font-size: 17px;
    color: rgb(136, 136, 136);
}

.sec5-circles{
    display: flex;
    justify-content: space-between;
}

.sec5-circles-single{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 65px 0;
}

.sec5-circles-image img{
    width: 150px;
    height: 150px;
    /* background: cover; */
    /* aspect-ratio: 1/1; */
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(183, 183, 183);
}

.sec5-circles-name{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 15px;
}

.sec5-circles-position{
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 3px;
}

/********************--------------section 5 end----------------*****************/
/********************---------------------------------------------*****************/



/********************---------------------------------------------*****************/
/********************--------------section 6 start----------------*****************/
.section-6{
    width: 100%;
    padding: 0 200px 0 200px;
    margin: 20px 0 100px 0;
}
.section-6-box{
    display: flex;
    justify-content: center;
    column-gap: 80px;
    align-items: center;
    background: #4D4CF2;
    width: 100%;
    height: 350px;
    border-radius: 18px;
}
.sec6-title{
    margin-left: 50px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.sec6-searchbar-section{
    margin-right: 50px;
}
.sec6-searchbar-section-upper{
    display: flex;
    column-gap: 10px;
}
.sec6-searchbar-section input{
    border-radius: 100px;
    width: 310px;
    height: 45px;
    padding: 5px 10px 5px 20px;
    border: none;
}
.sec6-searchbar-section input::placeholder{
    font-weight: 600;
    color: rgb(160, 160, 160);
}
.sec6-searchbar-tags{
    display: flex;
    column-gap: 22px;
    color: rgb(226, 226, 226);
    margin-top: 15px;
    font-size: 13px;
}
.sec6-searchbar-tags span{
    margin-right: 6px;
}
.sec6-searchbar-tag-single{
}
.sec6-button{
    display: flex;
    align-items: center;
}
.sec6-button input{
    width: 120px;
    height: 45px;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    border: none;
    background: #0E0D75;
    color: white;
}
/********************--------------section 6 End----------------*****************/
/********************---------------------------------------------*****************/


/********************---------------------------------------------*****************/
/********************--------------Footer start----------------*****************/
footer{
    font-family: sans-serif;
    width: 100%;
    padding: 0 200px 0 200px;
    margin: 20px 0 100px 0;
    /* border: solid; */
}
.footer-box{
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
}
.footer-description-box{
    /* border: solid; */
}
.footer-logo{
    /* background: red; */
    width: 100px;
    height: 40px;
    margin-bottom: 30px;
}
.footer-description-para{
    font-size: 14px;
    font-weight: 600;
    color: grey;
    margin: 20px 0 40px 0;
}
.footer-socialmedia-icons{
    display: flex;
    column-gap: 20px;
}
.footer-socialmedia-box{
}
.footer-socialmedia-box i{
    font-size: 32px;
}

.fa-linkedin-square{
}





.footer-menu-box{
    /* border: solid; */
    display: flex;
}
.footer-menu-list{
    /* border: solid green; */
    width: 235px;
    padding: 10px;
}
.footer-menu-list-title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-menu-list-points{
    display: flex;
    flex-direction: column;
    line-height: 25px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(120, 118, 118);

}

/********************--------------Footer End----------------*****************/
/********************---------------------------------------------*****************/

.under-footer{
    font-family: sans-serif;
    font-size: 13px;
    width: 100%;
    padding: 20px 200px 35px 200px;
    display: flex;
    justify-content: space-between;
    border-top: solid rgb(186, 186, 186);
}
.under-footer-copyright a{
    text-decoration: none;
    color: #1100ff;
}
.under-footer-points{
    display: flex;
    column-gap: 40px;
}